.PostsList {
  margin-top: 50px;
}

.PostsList__blog-post {
  margin-bottom: 50px;
}

.PostsList__blog-post * {
  margin: 0 0 5px 0;
}

.PostsList__title {
  font-weight: bold;
  font-size: 20px;
}

.PostsList__title:focus, .PostsList__title:hover {
  text-decoration: underline;
}