body {
  margin: 0;
}

main {
  margin: 75px 10% 50px 10%;
}

ul {
  list-style: none;
  padding: 0;
  margin-top: 0;
}

a {
  color: black;
  text-decoration: none;
}

header * {
  text-align: center;
}

p {
  font-size: 18px;
}

p.timestamp {
  font-size: 16px;
}